# Entorno virtual
venv/

# Archivos Python compilados
__pycache__/
*.py[cod]
*$py.class

# Base de datos local
db.sqlite3

# Archivos temporales de editor
.vscode/
.idea/
*.log


# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/

# Django
staticfiles/
media/

# Environment
.env

# Node
node_modules/
build/
dist/

# React build
neusi_backend/static/react/
